body
{
	background-image: url('/resources/bg-pumpkin.png');
	background-repeat: repeat-x,repeat-y;
	background-color: #ecf5ff;
	color: #000000;
}

h1
{
	font-family: arial, sans-serif;
	font-size: 20pt;
	text-align: center;
}

h2
{
	font-family: arial, sans-serif;
	font-size: 16pt;
	text-align: center;
}

p
{
	font-family: arial, sans-serif;
	font-size: 10pt;
	text-align: center;
}

ul
{
	font-family: arial, sans-serif;
	font-size: 10pt;
	text-align: center;
}

ol
{
	font-family: arial, sans-serif;
	font-size: 10pt;
	text-align: center;
}

form
{
	font-family: arial, sans-serif;
	font-size: 10pt;
	text-align: center;
}

img
{
	border: 0;
}

small
{
	font-size: 8pt;
}

table
{
	width: 100%;
}

table.menu
{
	font-family: arial, sans-serif;
	text-align: center;     /* Needed by Netscape as it doesn't have colgroup */
	border: 1px solid;
	border-collapse: separate;
	border-bottom-color: silver;
	border-right-color: silver;
	border-top-color: white;
	border-left-color: white;
	background-image: url(2.jpg);
	background-color: #dddddd;
	color: black;
	filter:alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity:0.8;
}

table.details
{
	font-family: arial, sans-serif;
	text-align: left;     /* Needed by Netscape as it doesn't have colgroup */
	border: 1px solid;
	border-collapse: separate;
	border-bottom-color: silver;
	border-right-color: silver;
	border-top-color: white;
	border-left-color: white;
	background-image: url(2.jpg);
	background-color: #dddddd;
	color: black;
	filter:alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity:0.8;
}

table.links
{
	font-family: arial, sans-serif;
	text-align: center;     /* Needed by Netscape as it doesn't have colgroup */
	border: 1px solid;
	border-collapse: separate;
	border-bottom-color: silver;
	border-right-color: silver;
	border-top-color: white;
	border-left-color: white;
	background-image: url(2.jpg);
	background-color: #dddddd;
	color: black;
	filter:alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity:0.8;
}

table.news
{
	font-family: arial, sans-serif;
	text-align: center;     /* Needed by Netscape as it doesn't have colgroup */
	border: 1px solid;
	border-collapse: separate;
	border-bottom-color: silver;
	border-right-color: silver;
	border-top-color: white;
	border-left-color: white;
	background-image: url(2.jpg);
	background-color: #dddddd;
	color: black;
	filter:alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity:0.8;
}

colgroup
{
	text-align: center;     /* Needed by IE4 as it doesn't auto center */
}

colgroup.heading
{
	width: 130px;
	text-align: left;
}

colgroup.details
{
	text-align: left;
}

colgroup.game
{
	width: 40%;
}

colgroup.platform
{
	width: 10%;
}

colgroup.author
{
	width: 20%;
}

colgroup.version
{
	width: 10%;
}

colgroup.date
{
	width: 10%;
}

colgroup.size
{
	width: 20%;
}

colgroup.year
{
	width: 10%;
}

colgroup.crc
{
	width: 20%;
}

colgroup.nonmame
{
	width: 10%;
}

colgroup.rombuild
{
	width: 10%;
}

table.links th a
{
	color: white;
	background-color: navy;
}


th
{
	font-size: 10pt;
	color: white;
	background-color: navy;
}

table.news th
{
	font-size: 12pt;
	font-weight: normal;
	color: navy;
	background-color: #dddddd;
	background-image: url(2.jpg);
}

table.layout td
{
	vertical-align: top;
	text-align: center;
	empty-cells: show;
}

table.details tr.even td
{
	vertical-align: top;
	font-size: 10pt;
	text-align: left;
	background-image: url(1.jpg);
	background-color: #eeeeee;
	color: black;
	border: 1px solid;
	border-bottom-color: white;
	border-right-color: white;
	border-top-color: silver;
	border-left-color: silver;
	empty-cells: show;
}

table.details tr.odd td
{
	vertical-align: top;
	font-size: 10pt;
	text-align: left;
	background-image: url(2.jpg);
	background-color: #dddddd;
	color: black;
	border: 1px solid;
	border-bottom-color: white;
	border-right-color: white;
	border-top-color: silver;
	border-left-color: silver;
	empty-cells: show;
}

table.menu tr.even td
{
	font-size: 8pt;
	background-image: url(1.jpg);
	background-color: #eeeeee;
	color: black;
	border: 1px solid;
	border-bottom-color: white;
	border-right-color: white;
	border-top-color: silver;
	border-left-color: silver;
	empty-cells: show;
}

table.menu tr.odd td
{
	font-size: 8pt;
	background-image: url(2.jpg);
	background-color: #dddddd;
	color: black;
	border: 1px solid;
	border-bottom-color: white;
	border-right-color: white;
	border-top-color: silver;
	border-left-color: silver;
	empty-cells: show;
}

table.links tr.even td
{
	font-size: 10pt;
	background-image: url(1.jpg);
	background-color: #eeeeee;
	color: black;
	border: 1px solid;
	border-bottom-color: white;
	border-right-color: white;
	border-top-color: silver;
	border-left-color: silver;
	empty-cells: show;
}

table.links tr.odd td
{
	font-size: 10pt;
	background-image: url(2.jpg);
	background-color: #dddddd;
	color: black;
	border: 1px solid;
	border-bottom-color: white;
	border-right-color: white;
	border-top-color: silver;
	border-left-color: silver;
	empty-cells: show;
}

table.news td
{
	font-size: 10pt;
	background-image: url(1.jpg);
	background-color: #eeeeee;
	color: black;
	border: 1px solid;
	border-bottom-color: white;
	border-right-color: white;
	border-top-color: silver;
	border-left-color: silver;
	empty-cells: show;
}
